
<!------ Include the above in your HEAD tag ---------->

    <div class="container">    
        <div id="loginbox" style="margin-top:50px;boder-radius:5px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" style="boder-radius:5px;" >
                    <div class="panel-heading">
                        <div class="panel-title"><h2 style="color:white">Log In</h2></div>
                        <div style="float:right; font-size: 40%; position: relative; top:-80px"><button id="forgotBtn" style="height:50px;width:190px;boder:0px;background:#f4511e"><h4 style="color:wheat">Forgot password?</h4></a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" role="form">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="Password">
                                    </div>
                                    

                                
                            <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                        </label>
                                      </div>
                                    </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <a id="btn-login" href="#" class="btn btn-success">Login  </a>
                                   
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account! 
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title"><h2 style="color:white">Sign Up</h2></div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px;"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()"><h4 style="color:wheat;">Sign In</h4></a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form">
                                                      
                                    
                                <div class="form-group">
                                    <label for="username" class="col-md-3 control-label us">Username</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="username" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>
                                  
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="firstname" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="neighborhood" class="col-md-3 control-label">Neighborhood</label>
                                    <div class="col-md-9">
                                    <select name="neighborhood">
                                    
                                    <option value="Acworth">Acworth</option>
                                    <option value="Adairsville">Adairsville</option>
                                    <option value="Alpharetta">Alpharetta</option>
                                    <option value="SE Atlanta">SE Atlanta</option>
                                    <option value="NW Atlanta">NW Atlanta</option>
                                    <option value="East Atlanta">East Atlanta</option>
                                    <option value="South Atlanta">South Atlanta</option>
                                    <option value="Austell">Austell</option>
                                    <option value="Avondale Estates">Avondale Estates</option>
                                    <option value="Ball Ground">Ball Ground</option>
                                    <option value="Berkeley Lake">Berkeley Lake</option>
                                    <option value="Braselton">Braselton</option>
                                    <option value="Brookhaven">Brookhaven</option>
                                    <option value="Brooks">Brooks</option>
                                    <option value="Buckhead">Buckhead</option>
                                    <option value="Buford">Buford</option>
                                    <option value="Canton">Canton</option>
                                    <option value="Carrollton">Carrollton</option>
                                    
                                    <option value="Cartersville">Cartersville</option>
                                    <option value="Chamblee">Chamblee</option>
                                    <option value="Clarkston">Clarkston</option>
                                    <option value="Clermont">Clermont</option>
                                    <option value="College Parki">College Park</option>
                                    <option value="Conyers">Conyers</option>
                                    <option value="Covington">Covington</option>
                                    <option value="Cumming">Cumming</option>
                                    <option value="Dacula">Dacula</option>
                                    
                                    <option value="Dallas">Dallas</option>
                                    <option value="Decatur/Emory">Decatur/Emory</option>
                                    <option value="Doraville">Doraville</option>
                                    <option value="Douglasville">Douglasville</option>
                                    <option value="Downtown Atlanta">Downtown Atlanta</option>
                                    <option value="Duluth">Duluth</option>
                                    <option value="Dunwoody">Dunwoody</option>
                                    <option value="East Point">East Point</option>
                                    
                                    <option value="Euharlee">Euharlee</option>
                                    <option value="Fairburn">Fairburn</option>
                                    <option value="Fayetteville">Fayetteville</option>
                                    <option value="Flowery Branch">Flowery Branch</option>
                                    <option value="Forest Park">Forest Park</option>
                                    <option value="Gainesville">Gainesville</option>
                                    <option value="Grantville">Grantville</option>
                                    <option value="Grayson">Grayson</option>
                                    <option value="Griffin">Griffin</option>
                                    
                                    <option value="Hampton">Hampton</option>
                                    <option value="Hapeville">Hapeville</option>
                                    <option value="Hiram">Hiram</option>
                                    <option value="Holly Springs">Holly Springs</option>
                                    <option value="Johns Creek">Johns Creek</option>
                                    <option value="Jonesboro">Jonesboro</option>
                                    <option value="Kennesaw">Kennesaw</option>
                                    <option value="Kingston">Kingston</option>
                                    <option value="Lawrenceville">Lawrenceville</option>
                                    
                                    <option value="Lilburn">Lilburn</option>
                                    <option value="Lithia Springs">Lithia Springs</option>
                                    <option value="Lithonia">Lithonia</option>
                                    <option value="Locust Grovedi">Locust Grove</option>
                                    <option value="Loganville">Loganville</option>
                                    <option value="Lula">Lula</option>
                                    <option value="Mableton">Mableton</option>
                                    <option value="Marietta">Marietta</option>
                                    <option value="McDonough">McDonough</option>
                                    
                                    <option value="Midtown Atlanta">Midtown Atlanta</option>
                                    <option value="Milton">Milton</option>
                                    <option value="Moreland">Moreland</option>
                                    <option value="Morrow">Morrow</option>
                                    <option value="Newnan">Newnan</option>
                                    <option value="Norcross">Norcross</option>
                                    <option value="Oakwood">Oakwood</option>
                                    <option value="Oxford">Oxford</option>
                                    <option value="Palmetto">Palmetto</option>
                                    
                                    <option value="Peachtree City">Peachtree City</option>
                                    <option value="Peachtree Corners">Peachtree Corners</option>
                                    <option value="Pine Lake">Pine Lake</option>
                                    <option value="Porterdale">Porterdale</option>
                                    <option value="Powder Springs">Powder Springs</option>
                                    <option value="Rex">Rex</option>
                                    <option value="Riverdale">Riverdale</option>
                                    <option value="Rockmart">Rockmart</option>
                                    <option value="Roswell">Roswell</option>
                                    
                                    <option value="Rydal">Rydal</option>
                                    <option value="Sandy Springs North">Sandy Springs North</option>
                                    <option value="Sandy Springs South">Sandy Springs South</option>
                                    <option value="Senoia">Senoia</option>
                                    <option value="Sharpsburg">Sharpsburg</option>
                                    <option value="Smyrna">Smyrna</option>
                                    <option value="Snellville">Snellville</option>
                                    <option value="Stockbridge">Stockbridge</option>
                                    <option value="Stone Mountain">Stone Mountain</option>
                                    <option value="Sugar Hill">Sugar Hill</option>
                                    <option value="Suwanee">Suwanee</option>
                                    <option value="Tucker">Tucker</option>
                                    <option value="Tyrone">Tyrone</option>
                                    <option value="Union City">Union City</option>
                                    <option value="Villa Rica">Villa Rica</option>
                                    <option value="Vinings">Vinings</option>
                                    <option value="Virginia Highland">Virginia Highland</option>
                                    <option value="Waleska">Waleska</option>
                                    <option value="Winston">Winston</option>
                                    <option value="Woodstock">Woodstock</option>                                

                                    </select>
                                    </div>
                                </div>                        
                               {{!-- <div class="form-group">
                                <label for="profilepic">Profile Picture</label>
                                
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div> --}}
                                 <div class="form-group">
                                    <div class="col-md-3">
                                    <label for="profilepic">Profile Picture</label>
                                    </div>
                                    <div class="col-md-9">
                                         <input type="file" class="form-control" name="myImage" accept="image/*" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                    </div>
                                </div>
                                
                                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                                    
                                    <div class="col-md-offset-3 col-md-9">
                                    </div>                                           
                                        
                                </div>
                                
                                
                                
                            </form>
                         </div>
                    </div>

               
               
                
         </div> 
    </div>
    